ADF-teste-md/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-teste-md"
		},
		"DebAnbima_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DebAnbima'"
		},
		"ExportadorSeriesXML_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ExportadorSeriesXML'"
		},
		"MoedasBacen_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MoedasBacen'"
		},
		"ScrapperCalendarioIBRE_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ScrapperCalendarioIBRE'"
		},
		"ScrapperIgpmIBRE_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ScrapperIgpmIBRE'"
		},
		"ScrapperInccmIBRE_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ScrapperInccmIBRE'"
		},
		"curvasSwap_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'curvasSwap'"
		},
		"geraSeriesMoedasBacen_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'geraSeriesMoedasBacen'"
		},
		"rcPhoenixSAD410_ADF_Teste_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'rcPhoenixSAD410_ADF_Teste'"
		},
		"Bvbgs_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Bvbgs'"
		},
		"ExportadorSeriesXML_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://exportadorxml.azurewebsites.net"
		},
		"ScrapperCalendarioIBRE_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://scrapperfgvibre.azurewebsites.net"
		},
		"ScrapperIgpmIBRE_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://scrapperfgvibre.azurewebsites.net"
		},
		"ScrapperInccmIBRE_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://scrapperfgvibre.azurewebsites.net"
		},
		"curvasSwap_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://curvasb3-web.azurewebsites.net"
		},
		"geraSeriesMoedasBacen_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://seriesmoedasbacen.azurewebsites.net"
		},
		"blobtrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/b9e0da61-71e8-4197-bd02-960f99d61822/resourceGroups/GrupoRecursosADFTeste/providers/Microsoft.Storage/storageAccounts/datalakebobby"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FluxoTimedOut_TESTE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@variables('asda')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 15
									}
								}
							],
							"timeout": "00:00:10"
						}
					},
					{
						"name": "success",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "failure",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "completed",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					},
					{
						"name": "skipped",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Skipped"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 1
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"asda": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DebAnbima')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('DebAnbima_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ExportadorSeriesXML')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ExportadorSeriesXML_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ExportadorSeriesXML_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MoedasBacen')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('MoedasBacen_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScrapperCalendarioIBRE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ScrapperCalendarioIBRE_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ScrapperCalendarioIBRE_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScrapperIgpmIBRE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ScrapperIgpmIBRE_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ScrapperIgpmIBRE_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScrapperInccmIBRE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ScrapperInccmIBRE_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ScrapperInccmIBRE_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/curvasSwap')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('curvasSwap_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('curvasSwap_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/geraSeriesMoedasBacen')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('geraSeriesMoedasBacen_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('geraSeriesMoedasBacen_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rcPhoenixSAD410_ADF_Teste')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('rcPhoenixSAD410_ADF_Teste_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('lista')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "azurefunction",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@item()",
											"type": "Expression"
										},
										"errorCode": "dasda"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"lista": {
						"type": "Array",
						"defaultValue": [
							"incc_v1",
							"igpm_v1",
							"igpdi_v1"
						]
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bvbgs')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('Bvbgs_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CRVBRABMF_RATE_SWAP_DI1_DOL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure Function1",
						"type": "AzureFunctionActivity",
						"dependsOn": [
							{
								"activity": "Set variable2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "GeradorSwaps",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "{\"curva\":\"@{variables('curva')}\",\"dia\":\"@{variables('dia')}\"}",
								"type": "Expression"
							}
						},
						"linkedServiceName": {
							"referenceName": "curvasSwap",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Set variable2",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "dia",
							"value": {
								"value": "@if(lessOrEquals(int(formatDateTime(utcnow(), 'hh')),6),formatDateTime(adddays(utcnow(),-1),'yyyy-MM-dd'),formatDateTime(utcnow(), 'yyyy-MM-dd'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"curva": {
						"type": "String",
						"defaultValue": "CRVBRABMF_RATE_SWAP_DI1_DOL"
					},
					"dia": {
						"type": "String",
						"defaultValue": "2022-03-11"
					}
				},
				"folder": {
					"name": "B3-Web/CurvasSwap"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/curvasSwap')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DebAnbima')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DebAnbima",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "debêntures Anbima teste.txt",
						"container": "anbima"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DebAnbima')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Descritor_series_moedas_bacen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MoedasBacen",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Series_moedas_bacen.csv",
						"container": "testebacen"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "moeda",
						"type": "String"
					},
					{
						"name": "code",
						"type": "String"
					},
					{
						"name": "field",
						"type": "String"
					},
					{
						"name": "InverteValor",
						"type": "String"
					},
					{
						"name": "IDSerie",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MoedasBacen')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MoedasBacen')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "MoedasBacen",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"a": {
						"type": "string",
						"defaultValue": "a"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "20220218.csv",
						"container": "testebacen"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/MoedasBacen')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MoedasBacen_copy1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DebAnbima",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"a": {
						"type": "string",
						"defaultValue": "a"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "20220218.csv",
						"container": "testebacen"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DebAnbima')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rcPhoenixSAD410_ADF_Teste')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rcPhoenixSAD410_ADF_Teste",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rcPhoenixSAD410_ADF_Teste')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bvbg086')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Bvbgs",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "BVBG.086.01_BV000328202201210328000002042077920.xml",
						"container": "bvbg086"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Bvbgs')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobtrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/bacen/blobs/Curvas/moedasBacen/v1/",
					"blobPathEndsWith": "_Curvas_moedasBacen_v1.xml",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('blobtrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated",
						"Microsoft.Storage.BlobDeleted"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline2')]"
			]
		}
	]
}