ADF-teste-md/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADF-teste-md"
		},
		"ScrapperCalendarioIBRE_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ScrapperCalendarioIBRE'"
		},
		"ScrapperIgpmIBRE_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ScrapperIgpmIBRE'"
		},
		"ScrapperInccmIBRE_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ScrapperInccmIBRE'"
		},
		"procedure_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'procedure'"
		},
		"rcPhoenixSAD410_ADF_Teste_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'rcPhoenixSAD410_ADF_Teste'"
		},
		"ScrapperCalendarioIBRE_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://scrapperfgvibre.azurewebsites.net"
		},
		"ScrapperIgpmIBRE_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://scrapperfgvibre.azurewebsites.net"
		},
		"ScrapperInccmIBRE_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://scrapperfgvibre.azurewebsites.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ScrapperCalendarioIBRE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ScrapperCalendarioIBRE_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ScrapperCalendarioIBRE_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScrapperIgpmIBRE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ScrapperIgpmIBRE_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ScrapperIgpmIBRE_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ScrapperInccmIBRE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ScrapperInccmIBRE_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ScrapperInccmIBRE_functionKey')]"
					},
					"authentication": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/procedure')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"IDSerie": {
						"type": "int"
					},
					"Data": {
						"type": "string"
					},
					"Valor": {
						"type": "int"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('procedure_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rcPhoenixSAD410_ADF_Teste')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('rcPhoenixSAD410_ADF_Teste_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/rcPhoenixSAD410_ADF_Teste')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "rcPhoenixSAD410_ADF_Teste",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/rcPhoenixSAD410_ADF_Teste')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AtualizaIGPDI')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCotacaoAtualizada",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DiadeDivulgacao",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[db_datareader].[getUltimaCotacaoSerie]",
								"storedProcedureParameters": {
									"IDSerie": {
										"type": "String",
										"value": {
											"value": "@variables('IDSerie_indice')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "rcPhoenixSAD410_ADF_Teste",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ScrapperCalendario",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "ScrapperCalendarioDivulgacao",
							"method": "POST",
							"headers": {},
							"body": {
								"indice": "@{variables('indice')}"
							}
						},
						"linkedServiceName": {
							"referenceName": "ScrapperCalendarioIBRE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AtualizaBancodeDados",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ScrapperCalendario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('ScrapperCalendario').output.inserir_no_banco,true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AtualizaCalendarioBanco",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[db_datareader].[testeInsereDataDivulgacaoIbre]",
										"storedProcedureParameters": {
											"Data": {
												"value": {
													"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataDivulgacao": {
												"value": {
													"value": "@activity('ScrapperCalendario').output.dia",
													"type": "Expression"
												},
												"type": "String"
											},
											"Indice": {
												"value": {
													"value": "@variables('indice')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "rcPhoenixSAD410_ADF_Teste",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetDivulgacaoAtualizada",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "AtualizaBancodeDados",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[db_datareader].[GetCalendarioDivulgacaoIbreAtualizado]",
								"storedProcedureParameters": {
									"Indice": {
										"type": "String",
										"value": {
											"value": "@variables('indice')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "rcPhoenixSAD410_ADF_Teste",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TentativasObtencaoIndiceNovo",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetCotacaoAtualizada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Tentativas')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ScrapperIgpdiIBRE",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "ScrapperIgpIBRE",
										"method": "POST",
										"headers": {},
										"body": {
											"indice": "@{variables('indice')}"
										}
									},
									"linkedServiceName": {
										"referenceName": "ScrapperIgpmIBRE",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "IndiceAtualizou",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "ScrapperIgpdiIBRE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(equals(float(activity('ScrapperIgpdiIBRE').output.valor),\n float(activity('GetCotacaoAtualizada').output.firstRow.Valor)))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Peraiii",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 5
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "InsereIndiceBanco",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[db_datareader].[InsereCotacaoSerieHistorica]",
													"storedProcedureParameters": {
														"Data": {
															"value": {
																"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
																"type": "Expression"
															},
															"type": "String"
														},
														"IDSerie": {
															"value": {
																"value": "@variables('IDSerie_indice')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Valor": {
															"value": {
																"value": "@activity('ScrapperIgpdiIBRE').output.valor",
																"type": "Expression"
															},
															"type": "Double"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "rcPhoenixSAD410_ADF_Teste",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "EncerrarPipeline",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "InsereIndiceBanco",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": "FailMessage",
													"errorCode": "ErrorCode"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "DiadeDivulgacao",
						"description": "Verifica se hoje é dia de divulgação.",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "MesDivulgacaoAtual",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GetDivulgacaoAtualizada').output.firstRow.DataDivulgacao,\nformatDateTime(utcnow(), 'yyyy-MM-dd'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "EncerraPipeline",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Não é necessário fazer mais nada",
										"errorCode": "Não é necessário fazer mais nada"
									}
								}
							]
						}
					},
					{
						"name": "MesDivulgacaoAtual",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetDivulgacaoAtualizada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(formatDateTime(utcnow(), 'MM'),\nsubstring(activity('GetDivulgacaoAtualizada').output.firstRow.DataDivulgacao,5,2))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Fail1",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Data de divulgação não corresponde ao atual",
										"errorCode": "Disparar email"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"indice": {
						"type": "String",
						"defaultValue": "IGPDI"
					},
					"IDSerie_indice": {
						"type": "String",
						"defaultValue": "30988"
					},
					"Tentativas": {
						"type": "Array",
						"defaultValue": [
							1,
							2,
							3
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/rcPhoenixSAD410_ADF_Teste')]",
				"[concat(variables('factoryId'), '/linkedServices/ScrapperCalendarioIBRE')]",
				"[concat(variables('factoryId'), '/linkedServices/rcPhoenixSAD410_ADF_Teste')]",
				"[concat(variables('factoryId'), '/linkedServices/ScrapperIgpmIBRE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AtualizaIGPM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCotacaoAtualizada",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "DiadeDivulgacao",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[db_datareader].[getUltimaCotacaoSerie]",
								"storedProcedureParameters": {
									"IDSerie": {
										"type": "String",
										"value": {
											"value": "@variables('IDSerie_indice')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "rcPhoenixSAD410_ADF_Teste",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ScrapperCalendario",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "ScrapperCalendarioDivulgacao",
							"method": "POST",
							"headers": {},
							"body": {
								"indice": "@{variables('indice')}"
							}
						},
						"linkedServiceName": {
							"referenceName": "ScrapperCalendarioIBRE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AtualizaBancodeDados",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ScrapperCalendario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('ScrapperCalendario').output.inserir_no_banco,true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AtualizaCalendarioBanco",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[db_datareader].[testeInsereDataDivulgacaoIbre]",
										"storedProcedureParameters": {
											"Data": {
												"value": {
													"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataDivulgacao": {
												"value": {
													"value": "@activity('ScrapperCalendario').output.dia",
													"type": "Expression"
												},
												"type": "String"
											},
											"Indice": {
												"value": {
													"value": "@variables('indice')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "rcPhoenixSAD410_ADF_Teste",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetDivulgacaoAtualizada",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "AtualizaBancodeDados",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[db_datareader].[GetCalendarioDivulgacaoIbreAtualizado]",
								"storedProcedureParameters": {
									"Indice": {
										"type": "String",
										"value": {
											"value": "@variables('indice')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "rcPhoenixSAD410_ADF_Teste",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TentativasObtencaoIndiceNovo",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GetCotacaoAtualizada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Tentativas')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ScrapperIgpmIBRE",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "ScrapperIgpIBRE",
										"method": "POST",
										"headers": {},
										"body": {
											"indice": "@{variables('indice')}"
										}
									},
									"linkedServiceName": {
										"referenceName": "ScrapperIgpmIBRE",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "IndiceAtualizou",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "ScrapperIgpmIBRE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(equals(float(activity('ScrapperIgpmIBRE').output.valor),\n float(activity('GetCotacaoAtualizada').output.firstRow.Valor)))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Peraiii",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 5
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "InsereIndiceBanco",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[db_datareader].[InsereCotacaoSerieHistorica]",
													"storedProcedureParameters": {
														"Data": {
															"value": {
																"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
																"type": "Expression"
															},
															"type": "String"
														},
														"IDSerie": {
															"value": {
																"value": "@variables('IDSerie_indice')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Valor": {
															"value": {
																"value": "@activity('ScrapperIgpmIBRE').output.valor",
																"type": "Expression"
															},
															"type": "Double"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "rcPhoenixSAD410_ADF_Teste",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "EncerrarPipeline",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "InsereIndiceBanco",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": "FailMessage",
													"errorCode": "ErrorCode"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "DiadeDivulgacao",
						"description": "Verifica se hoje é dia de divulgação.",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetDivulgacaoAtualizada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('GetDivulgacaoAtualizada').output.firstRow.DataDivulgacao,\nformatDateTime(utcnow(), 'yyyy-MM-dd'))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "EncerraPipeline",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": "Não é necessário fazer mais nada",
										"errorCode": "Não é necessário fazer mais nada"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"indice": {
						"type": "String",
						"defaultValue": "IGPM"
					},
					"IDSerie_indice": {
						"type": "String",
						"defaultValue": "30990"
					},
					"Tentativas": {
						"type": "Array",
						"defaultValue": [
							1,
							2,
							3
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/rcPhoenixSAD410_ADF_Teste')]",
				"[concat(variables('factoryId'), '/linkedServices/ScrapperCalendarioIBRE')]",
				"[concat(variables('factoryId'), '/linkedServices/rcPhoenixSAD410_ADF_Teste')]",
				"[concat(variables('factoryId'), '/linkedServices/ScrapperIgpmIBRE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AtualizaINCCM')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetCotacaoAtualizada",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GetDivulgacaoAtualizada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[db_datareader].[getUltimaCotacaoSerie]",
								"storedProcedureParameters": {
									"IDSerie": {
										"type": "String",
										"value": {
											"value": "@variables('IDSerie_indice')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "rcPhoenixSAD410_ADF_Teste",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "ScrapperCalendario",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "ScrapperCalendarioDivulgacao",
							"method": "POST",
							"headers": {},
							"body": {
								"indice": "@{variables('indice')}"
							}
						},
						"linkedServiceName": {
							"referenceName": "ScrapperCalendarioIBRE",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "AtualizaBancodeDados",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "ScrapperCalendario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('ScrapperCalendario').output.inserir_no_banco,true)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "AtualizaCalendarioBanco",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[db_datareader].[testeInsereDataDivulgacaoIbre]",
										"storedProcedureParameters": {
											"Data": {
												"value": {
													"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"DataDivulgacao": {
												"value": {
													"value": "@activity('ScrapperCalendario').output.dia",
													"type": "Expression"
												},
												"type": "String"
											},
											"Indice": {
												"value": {
													"value": "@variables('indice')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "rcPhoenixSAD410_ADF_Teste",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "GetDivulgacaoAtualizada",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "AtualizaBancodeDados",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[db_datareader].[GetCalendarioDivulgacaoIbreAtualizado]",
								"storedProcedureParameters": {
									"Indice": {
										"type": "String",
										"value": {
											"value": "@variables('indice')",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "rcPhoenixSAD410_ADF_Teste",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "CotacaoBancoAtualizada",
						"description": "Verifica se a última cotação salva foi divulgada após a data da última divulgação.",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetCotacaoAtualizada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(int(substring(replace(activity('GetDivulgacaoAtualizada').output.firstRow.DataDivulgacao,'-',''),0,8)),\nint(substring(replace(activity('GetCotacaoAtualizada').output.firstRow.Data,'-',''),0,8)))",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "InsereIndiceBanco1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[db_datareader].[InsereCotacaoSerieHistorica]",
										"storedProcedureParameters": {
											"Data": {
												"value": {
													"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
													"type": "Expression"
												},
												"type": "String"
											},
											"IDSerie": {
												"value": {
													"value": "@variables('IDSerie_indice')",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"Valor": {
												"value": {
													"value": "@activity('GetCotacaoAtualizada').output.firstRow.Valor",
													"type": "Expression"
												},
												"type": "Double"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "rcPhoenixSAD410_ADF_Teste",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "EncerraPipeline",
									"description": "Não é um erro, apenas encerra o pipeline",
									"type": "Fail",
									"dependsOn": [
										{
											"activity": "InsereIndiceBanco1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"message": "FailMessage",
										"errorCode": "ErrorCode"
									}
								}
							]
						}
					},
					{
						"name": "TentativasObtencaoIndiceNovo",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "CotacaoBancoAtualizada",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('Tentativas')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "ScrapperInccmIBRE",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "ScrapperInccmIBRE",
										"method": "GET",
										"headers": {}
									},
									"linkedServiceName": {
										"referenceName": "ScrapperInccmIBRE",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "IndiceAtualizou",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "ScrapperInccmIBRE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@not(equals(float(activity('ScrapperInccmIBRE').output.valor),\r\n float(activity('GetCotacaoAtualizada').output.firstRow.Valor)))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Peraiii",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 5
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "InsereIndiceBanco",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[db_datareader].[InsereCotacaoSerieHistorica]",
													"storedProcedureParameters": {
														"Data": {
															"value": {
																"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
																"type": "Expression"
															},
															"type": "String"
														},
														"IDSerie": {
															"value": {
																"value": "@variables('IDSerie_indice')",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Valor": {
															"value": {
																"value": "@activity('ScrapperInccmIBRE').output.valor",
																"type": "Expression"
															},
															"type": "Double"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "rcPhoenixSAD410_ADF_Teste",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "EncerrarPipeline",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "InsereIndiceBanco",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": "FailMessage",
													"errorCode": "ErrorCode"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"indice": {
						"type": "String",
						"defaultValue": "INCCM"
					},
					"IDSerie_indice": {
						"type": "String",
						"defaultValue": "580040"
					},
					"Tentativas": {
						"type": "Array",
						"defaultValue": [
							1,
							2,
							3
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/rcPhoenixSAD410_ADF_Teste')]",
				"[concat(variables('factoryId'), '/linkedServices/ScrapperCalendarioIBRE')]",
				"[concat(variables('factoryId'), '/linkedServices/rcPhoenixSAD410_ADF_Teste')]",
				"[concat(variables('factoryId'), '/linkedServices/ScrapperInccmIBRE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TriggerDiario8h')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "AtualizaIGPDI",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "AtualizaIGPM",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "AtualizaINCCM",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-02-14T13:23:00",
						"timeZone": "Bahia Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/AtualizaIGPDI')]",
				"[concat(variables('factoryId'), '/pipelines/AtualizaIGPM')]",
				"[concat(variables('factoryId'), '/pipelines/AtualizaINCCM')]"
			]
		}
	]
}