pipeline/FluxoTimedOut_TESTE.json
{
	"name": "FluxoTimedOut_TESTE",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('asda')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 15
							}
						}
					],
					"timeout": "00:00:10"
				}
			},
			{
				"name": "success",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "failure",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "completed",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "skipped",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"asda": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}