pipeline/Insert No SQL.json
{
	"name": "Insert No SQL",
	"properties": {
		"description": "tentativa de insert no SQL via AzureFunction",
		"activities": [
			{
				"name": "Manipula indice",
				"description": "Compara a informação recebida com a data atual.\nFaz o scrapper do indice e avalia a necessidade de inserção dentro do banco.",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Get Indice Banco",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "InsertSQL_test",
					"method": "POST",
					"headers": {
						"Valor": {
							"value": "@activity('Get Indice Banco').output.value",
							"type": "Expression"
						},
						"Data": {
							"value": "@activity('Get Indice Banco').output.date",
							"type": "Expression"
						}
					},
					"body": {
						"name": "Robert"
					}
				},
				"linkedServiceName": {
					"referenceName": "teste SQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Manipula indice",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 10800
				}
			},
			{
				"name": "Get Indice Banco",
				"description": "Obtem o valor e data da última entrada do índice dentro do banco.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "rcPhoenixSAD410_ADF_Teste",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Insert Indice SQL",
				"description": "Faz o insert do novo índice ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Retorno da funcao",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			},
			{
				"name": "Retorno da funcao",
				"description": "Encerra o pipeline ou insere o indice no banco.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Manipula indice",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": []
			}
		],
		"annotations": []
	}
}