pipeline/pipeline_serio_copy2.json
{
	"name": "pipeline_serio_copy2",
	"properties": {
		"activities": [
			{
				"name": "GetCotacaoAtualizada",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetDivulgacaoAtualizada",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[db_datareader].[getUltimaCotacaoSerie]",
						"storedProcedureParameters": {
							"IDSerie": {
								"type": "String",
								"value": {
									"value": "@variables('IDSerie_indice')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "rcPhoenixSAD410_ADF_Teste",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ScrapperINCC",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "GetCotacaoAtualizada",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ScrapperInccmIBRE",
					"method": "GET",
					"headers": {
						"cotacao": {
							"value": "@activity('GetCotacaoAtualizada').output.firstRow.Data",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ScrapperInccmIBRE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "IndiceAtualizou",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ScrapperINCC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('ScrapperINCC').output.valor, activity('GetCotacaoAtualizada').output.fisrtRow.Valor))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetDivulgacaoAtualizada",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[db_datareader].[testeGetCalendarioDivulgacaoIbreAtualizado]",
						"storedProcedureParameters": {
							"Indice": {
								"type": "String",
								"value": {
									"value": "@variables('indice')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "rcPhoenixSAD410_ADF_Teste",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "InsereIndiceBanco",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IndiceAtualizou",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[db_datareader].[InsereCotacaoSerieHistorica]",
					"storedProcedureParameters": {
						"Data": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "String"
						},
						"IDSerie": {
							"value": {
								"value": "@variables('IDSerie_indice')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Valor": {
							"value": {
								"value": "@activity('ScrapperINCC').output.valor",
								"type": "Expression"
							},
							"type": "Double"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "rcPhoenixSAD410_ADF_Teste",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"indice": {
				"type": "String",
				"defaultValue": "INCCM"
			},
			"IDSerie_indice": {
				"type": "String",
				"defaultValue": "580040"
			}
		},
		"annotations": []
	}
}