pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": ".6456",
					"errorCode": "549"
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('lista')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "lista",
								"value": {
									"value": "@bool(1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Fail2",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@variables('lista')",
									"type": "Expression"
								},
								"errorCode": "dasd"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"lista": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}