pipeline/pipeline_serio_copy2.json
{
	"name": "pipeline_serio_copy2",
	"properties": {
		"activities": [
			{
				"name": "GetCotacaoAtualizada",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "GetDivulgacaoAtualizada",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[db_datareader].[getUltimaCotacaoSerie]",
						"storedProcedureParameters": {
							"IDSerie": {
								"type": "String",
								"value": {
									"value": "@variables('IDSerie_indice')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "rcPhoenixSAD410_ADF_Teste",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ScrapperCalendario",
				"type": "AzureFunctionActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ScrapperCalendarioDivulgacao",
					"method": "POST",
					"body": {
						"indice": "@{variables('indice')}"
					}
				},
				"linkedServiceName": {
					"referenceName": "ScrapperCalendarioIBRE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "AtualizaBancodeDados",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ScrapperCalendario",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('ScrapperCalendario').output.inserir_no_banco,true)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AtualizaCalendarioBanco",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "AtualizaBancodeDados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[db_datareader].[testeInsereDataDivulgacaoIbre]",
					"storedProcedureParameters": {
						"Data": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataDivulgacao": {
							"value": {
								"value": "@activity('ScrapperCalendario').output.dia",
								"type": "Expression"
							},
							"type": "String"
						},
						"Indice": {
							"value": {
								"value": "@variables('indice')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "rcPhoenixSAD410_ADF_Teste",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ScrapperINCC",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "CotacaoBancoAtualizada",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "ScrapperInccmIBRE",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "ScrapperInccmIBRE",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "IndiceAtualizou",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ScrapperINCC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(activity('ScrapperINCC').output.valor, activity('GetCotacaoAtualizada').output.fisrtRow.Valor))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetDivulgacaoAtualizada",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "AtualizaBancodeDados",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "AtualizaCalendarioBanco",
						"dependencyConditions": [
							"Completed",
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[db_datareader].[testeGetCalendarioDivulgacaoIbreAtualizado]",
						"storedProcedureParameters": {
							"Indice": {
								"type": "String",
								"value": {
									"value": "@variables('indice')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "rcPhoenixSAD410_ADF_Teste",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CotacaoBancoAtualizada",
				"description": "Verifica se a última cotação salva foi divulgada após a data da última divulgação.",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetCotacaoAtualizada",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@less(int(replace(activity('GetCotacaoAtualizada').output.firstRow.Data,'-','')),\nint(replace(activity('GetDivulgacaoAtualizada').output.firstRow.DataDivulgacao,'-','')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "InsereIndiceBanco1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CotacaoBancoAtualizada",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[db_datareader].[InsereCotacaoSerieHistorica]",
					"storedProcedureParameters": {
						"Data": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "String"
						},
						"IDSerie": {
							"value": {
								"value": "@variables('IDSerie_indice')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Valor": {
							"value": {
								"value": "@activity('GetDivulgacaoAtualizada').output.firstRow.Valor",
								"type": "Expression"
							},
							"type": "Double"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "rcPhoenixSAD410_ADF_Teste",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "InsereIndiceBanco",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IndiceAtualizou",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[db_datareader].[InsereCotacaoSerieHistorica]",
					"storedProcedureParameters": {
						"Data": {
							"value": {
								"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
								"type": "Expression"
							},
							"type": "String"
						},
						"IDSerie": {
							"value": {
								"value": "@variables('IDSerie_indice')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Valor": {
							"value": {
								"value": "@activity('ScrapperINCC').output.valor",
								"type": "Expression"
							},
							"type": "Double"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "rcPhoenixSAD410_ADF_Teste",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"indice": {
				"type": "String",
				"defaultValue": "INCCM"
			},
			"IDSerie_indice": {
				"type": "String",
				"defaultValue": "580040"
			}
		},
		"annotations": []
	}
}