pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('lista')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "azurefunction",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@item()",
									"type": "Expression"
								},
								"errorCode": "dasda"
							}
						},
						{
							"name": "send msg",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "azurefunction",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"lista": {
				"type": "Array",
				"defaultValue": [
					"incc_v1",
					"igpm_v1",
					"igpdi_v1"
				]
			}
		},
		"annotations": []
	}
}