pipeline/TesteMoedasBacen.json
{
	"name": "TesteMoedasBacen",
	"properties": {
		"activities": [
			{
				"name": "MoedasBacenCSV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "MoedasBacen",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "geraSeries",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "MoedasBacenCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GeraSeriesMoedasBacen ",
					"method": "POST",
					"body": {
						"valores_moedas": "@string(activity('MoedasBacenCSV').output.value)"
					}
				},
				"linkedServiceName": {
					"referenceName": "geraSeriesMoedasBacen",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "geraSeries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('geraSeries').output.valores",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[db_datareader].[InsereCotacaoSerieHistorica]",
								"storedProcedureParameters": {
									"Data": {
										"value": {
											"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
											"type": "Expression"
										},
										"type": "String"
									},
									"IDSerie": {
										"value": "@json(item()).IDSerie",
										"type": "Int32"
									},
									"Valor": {
										"value": "@json(item()).Value",
										"type": "Double"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "rcPhoenixSAD410_ADF_Teste",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"AA": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}