pipeline/TesteMoedasBacen_copy1.json
{
	"name": "TesteMoedasBacen_copy1",
	"properties": {
		"activities": [
			{
				"name": "MoedasBacenCSV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "MoedasBacen",
						"type": "DatasetReference",
						"parameters": {
							"a": "a"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "geraSeriesBacen",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "MoedasBacenCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GeraSeriesMoedasBacen ",
					"method": "POST",
					"body": {
						"valores_moedas": "@activity('MoedasBacenCSV').output.value"
					}
				},
				"linkedServiceName": {
					"referenceName": "geraSeriesMoedasBacen",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"container_name": {
				"type": "String",
				"defaultValue": "bacen"
			}
		},
		"annotations": []
	}
}