pipeline/TesteMoedasBacen.json
{
	"name": "TesteMoedasBacen",
	"properties": {
		"activities": [
			{
				"name": "MoedasBacenCSV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "MoedasBacen",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "geraSeries",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "MoedasBacenCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "GeraSeriesMoedasBacen ",
					"method": "POST",
					"body": {
						"valores_moedas": "@string(activity('MoedasBacenCSV').output.value)"
					}
				},
				"linkedServiceName": {
					"referenceName": "geraSeriesMoedasBacen",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "geraSeries",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@createArray(substring(string(activity('geraSeries').output),1,sub(length(activity('geraSeries').output),1)))",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "AA",
								"value": {
									"value": "@json(item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Append variable2",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "geraSeries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "AA",
					"value": {
						"value": "@substring(string(activity('geraSeries').output.valores),1,sub(length(activity('geraSeries').output.valores),2))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"AA": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}